# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/temp

# Dependencies
node_modules
.pnp
.pnp.js
.ignore
.claude
.venv

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist
.astro/
apps/desktop/src/i18n/locales/.cache/
apps/windows-installer/src-tauri/installer/Voquill_Setup.exe


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem

target/
nul

*.exe